
body{
    background: #f3f2f2;
}
.la-header{
    font-weight: bold;
}

    /* table style*/
#topup-table{
    border-collapse: collapse;
    margin: 5%;
    margin-bottom: 1%;
}
table#topup-table td,table#topup-table th,table#topup-table tr{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-size: 11px
}

table#topup-table th{
text-align:left;
}
table#topup-table td{
    font-size: 12px;
    text-align: center;
    vertical-align: middle !important;
}
.tdrightBorder{
    border-right: 1px solid #ccc;
    }

    /* button style*/
.activebtn {
    font-size: 12px;
    white-space: nowrap;
    padding: 6px 30px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    background: #e8e7e7;
    cursor: pointer;
    width: 95%;
}
.disabledbtn {
    font-size: 12px;
    white-space: nowrap;
    padding: 6px 30px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    background: #e8e7e7;
    width: 95%;
}
.bbNone{
    border-bottom: none;
}
.activebtn:hover {
   background: #444;
   color:#fff;
   box-shadow: 0px 1px 4px #000;
}



  /*status*/
  .status{
    background: #e4e2e2;
    border-left: 3px solid #444;
    padding: 1%;
    width: 30%;
    color: #444;
    font-size: 12px;
  }
  .w-70{
      width: 70%
  }
  .row {
    display: flex;
}




  #listloan{
    width: 70%;
    padding-left:100px;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  #listloan th {
      text-align: left;
      border-bottom: 1px solid #ccc;
      background: #cccc;
  }
  #listloan td, #listloan th {
    padding: 1%;
    font-size: 12px;
    width:33.33%;
}
.borderbrmtr{
    border-bottom: 1px solid #ccc; 
}



  /* The container */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #928e8e;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #444;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  button:disabled, button[disabled] {
    color: #969494;
    cursor: not-allowed;
}

    /*media tag max-width 768px */
@media only screen and (max-width: 768px) {
    #topup-table{
        margin: 1% 0%;
    }
    .status{
        width: 100%
    }
    .w-70{
        display:none;
    }
    .row {
        display: block;
    }
    #listloan{
        width: 100% !important;
    }
  }
.bold{
  font-weight: bold;
  font-size: 14px;

}